header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0 20px;
    flex-wrap: wrap;

    .search_container {
        flex: 1 1 200px;
        margin: 5px 10px;
        position: relative;

        .search_bar {
            display: flex;
            justify-self: center;
            min-width: 200px;
            padding: 5px 60px 5px 30px; 
            border-radius: 5px;
            border: none;
            outline: none;
            background-image: url('../../assets/Vector.svg'); 
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 20px 20px;
            cursor: pointer; 
        }

        .search_results,
        .search_loading {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: white;
            border: 1px solid #ccc;
            z-index: 10;
            list-style: none;
            padding: 0;
            margin: 0;
            max-height: 200px;
            overflow-y: auto;

            li {
                padding: 8px 10px;
                cursor: default;
            }
        }
    }

    .cart_icon_container {
        position: relative;
        display: inline-block;

        .item_carrinho {
            width: 40px;
            height: 40px;
        }

        .cart_count {
            position: absolute;
            top: -8px;
            right: -8px;
            background-color: #F46D1B;
            color: white;
            font-size: 14px;
            font-weight: bold;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            z-index: 10;
        }
    }

    
    @media (max-width: 767px) {
        flex-direction: column;

        .search_container {
            width: 100%;
            margin: 5px 0;
        }
    }

    
    @media (min-width: 1366px) {
        padding: 0 40px;
    }

    
    @media (min-width: 1920px) {
        padding: 0 80px;
    }
}