.title {
    color: #34AC40; // verde
    font-size: 1.8rem;
    font-weight: bold;
}

.title-color {
    color: #F46D1B; // laranja
}

.underline {
    height: 2px; // espessura da linha
    width: 100%; // ocupa toda a largura do container
    background-color: #34AC40; // mesma cor do texto verde
    margin-top: 5px; // espaço entre texto e linha
}